@import url('https://fonts.googleapis.com/css?family=Poppins:200; 400; 700');

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Poppins:200; 400; 700') format('woff2'),
       url('https://fonts.googleapis.com/css?family=Poppins:200; 400; 700') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Poppins', sans-serif;
}




:root {
    --dark: rgb(0, 0, 0);

    --c1: rgb(0, 0, 0);
    --c2: rgb(255, 255, 255);
    
    --left-color: var(--c1);
    --right-color: var(--c2);
}
  
body {  
    background-color: var(--dark);
    margin: 0px;
}
#scrollable-container {
    height: 100vh; /* adjust to desired height */
    overflow: auto; /* or 'scroll' */
}

  
.side {
    display: grid;
    height: 100vh;
    overflow: hidden;
    place-items: center;
    position: absolute;
    width: 100%;
}
  
.side .title {
    
    font-family: 'Poppins', sans-serif;
    
    font-size: 14vw;
    margin: 0px 28vw;
    width: 100vw;
}
  
.side .titletwo {
  
  font-family: 'Poppins', sans-serif;
  
  font-size: 14vw;
  margin: 0px 3vw;
  width: 100vw;
}
  
#left-side {
    background-color: var(--left-color);
    animation: left-side 2s linear .4s backwards;
    width: 66%;
    z-index: 2;
}

@keyframes left-side{
    0%{
        width: 100%;
        transform: translateX(0);
  
    }
    100%{
        width: 66%;
        transform: translateX(0px);
    }
}
  
#left-side .title {  
    color: white;  
}
 
  
#right-side {
    background-color: var(--right-color);
}
  
#right-side .title {
    color: var(--dark);  
}

#new-section {
    height: 120vh; /* adjust to desired height */
    display: grid;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .side-new img {
    width: 90px; /* adjust as needed */
    height: 90px; /* adjust as needed */
    margin: right 0; /* adjust as needed */
    display: inline-block; /* or use 'display: inline-block;' or 'flexbox' */
  }
  
  
  .title-new {
    font-family: 'Poppins', sans-serif;
    font-size: 10vw;
    color: white;
    text-align: center;
  }
  
  #choose {
    position: relative;
    z-index: 1;
    background: linear-gradient(to right, #f5af19, #f12711);
    -webkit-text-fill-color: transparent;
    background-clip: padding-box; /* standard property */
    -webkit-background-clip: padding-box; /* for Safari and Chrome */
    -moz-background-clip: padding-box; /* for Firefox */
    -o-background-clip: padding-box; /* for Opera */
    -webkit-background-clip: text;
  }
  
  #choose.lol {
    content: "Choose";
    position: absolute;
    top: 1000;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #reduce {
    display: inline-block;
    transition: transform 2s ease-in-out;
}

#reduce.scaling-out {
    transform: scale(0.3);
}

#refuse {
  display: inline-block;
  transition: transform 2.2s ease-in-out;
}

#refuse.scaling-out {
  transform: scale(0.7);
}

#refuse {
  position: relative;
  display: inline-block;
}

#refuse::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0%;
  height: 1vw;
  background: linear-gradient(to right, #f5af19, #f12711);
  -webkit-text-fill-color: transparent;
  animation: line-animation 10s ease-in-out forwards;
}

@keyframes line-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}



#choose {
  display: inline-block;
  transition: transform 2s ease-in-out;
}

#choose.scaling-out {
  transform: scale(2);
}



#new-section2 {
  background-color: var(--c2);
  height: 100vh; /* adjust to desired height */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-nerds {
  font-family: 'Poppins', sans-serif;
  font-size: 18vw;
}

#new-section2 p {
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
}

.genz {
  color: #f5af19;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.2rem;
  text-align: center;
  background: linear-gradient(to right, #f5af19, #f12711);
  background-clip: padding-box; /* standard property */
  -webkit-background-clip: padding-box; /* for Safari and Chrome */
  -moz-background-clip: padding-box; /* for Firefox */
  -o-background-clip: padding-box; /* for Opera */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


footer {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 10px;
    color: #fff;
    }
    
    footer p {
    margin: 0;
    font-size: 10px;
    }



@media  (max-width: 600px)
{  #footer p {
  padding: 5px;
  font-size: 5px;
}
}



@media  (max-width: 900px) {
  #new-section {
   width: 100%;
   height: 55%;
      }
    }
    
@media  (max-width: 900px) {
  #new-section2 {
  width: 100%;
  height: 60%;
    }
  }
    
    
    @media  (max-width: 900px) {
      #new-section2 .about-nerds {
        position: absolute;   
        font-size: 15vw;
        text-align: center;
        bottom: 225;
        width: 100%; }
      #new-section2 p {
        position: absolute;
        font-size: 3vw;
        text-align: center;
        bottom: 50;
        width: 100%;
      }
    }
    



@media (max-width: 900px) {
  .side-new img {
    width: 30px; /* adjust as needed for mobile */
    height: 30px; /* adjust as needed for mobile */
  }
}






@media  (max-width: 767px) {
  #new-section {
    width: 100%;
    height: 50vh;
  }
}

@media (max-width: 767px) {
  #new-section2 {
    width: 100%;
    height: 50vh;
  }
}


@media  (max-width: 767px) {
  #new-section2 .about-nerds {
    position: absolute;   
    font-size: 15vw;
    text-align: center;
    bottom: 250;
    width: 100%; }
  #new-section2 p {
    position: absolute;
    font-size: 3vw;
    text-align: center;
    bottom: 50;
    width: 100%;
  }
}




@media (max-width: 767px) {
.side-new img {
width: 30px; /* adjust as needed for mobile */
height: 30px; /* adjust as needed for mobile */
}
}






@media  (max-width: 767px) {
  .genz {
      font-size: 5vw; /* adjust as needed */
  }
}




@media (max-width: 480px) {
  #new-section {
    width: 100%;
    height: 50vh;
  }
}

@media  (max-width: 480px) {
  #new-section2 {
    width: 100%;
    height: 50vh;
  }
}


@media  (max-width: 480px) {
  #new-section2 .about-nerds {
    position: absolute;   
    font-size: 2em;
    text-align: center;
    bottom: 190;
    width: 100%; }
  #new-section2 p {
    position: absolute;
    font-size: 0.85em;
    text-align: center;
    bottom: 3;
    width: 100%;
  }
}




@media (max-width: 480px) {
.side-new img {
width: 20px; /* adjust as needed for mobile */
height: 20px; /* adjust as needed for mobile */
}
}






@media  (max-width: 480px) {
  .genz {
      font-size: 0.8rem; /* adjust as needed */
  }
}




@media (max-width: 6px) {
  #new-section {
    width: 100%;
    height: 50%;
  }
}

@media  (max-width: 6px) {
  #new-section2 {
    width: 100%;
    height: 50%;
  }
}


@media  (max-width: 6px) {
  #new-section2 .about-nerds {
    position: absolute;   
    font-size: 1em;
    text-align: center;
    bottom: 25;
    width: 100%; }
  #new-section2 p {
    position: absolute;
    font-size: 0.2em;
    text-align: center;
    bottom: 10;
    width: 100%;
  }
}




@media (max-width: 60px) {
.side-new img {
width: 30px; /* adjust as needed for mobile */
height: 30px; /* adjust as needed for mobile */
}
}






@media  (max-width: 60px) {
  .genz {
      font-size: 0.3rem; /* adjust as needed */
  }
}





@media (max-width: 600px) {
  .title {
    font-size: 4em;
  }
  .titletwo {
    font-size: 4em;
  }

}





